[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-debug-toolbar = "*"
django-dbbackup = "*"
fcm-django = "*"
django-cors-headers = "*"
django-seeding = "*"
django-redis = "*"
mysqlclient = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
twilio = "*"
drf-spectacular = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
