<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project_Name Email Verification Code</title>
</head>

<body>
    <h1>Project_Name Email Verification Code</h1>
    <p>Hello {{ name }},</p>
    <p>Thank you for signing up! Your verification code is: <strong style="font-size: 20px;">{{ verification_code
            }}</strong></p>
    <p>If you did not sign up for this account, please ignore this email.</p>
    <p>Best regards.</p>
</body>

</html>